<div class="flex flex-col flex-auto -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 shadow">
        <div class="flex items-center gap-3">
            <mat-icon class="text-blue-500" svgIcon="heroicons_outline:bookmark"></mat-icon>
            <div>{{ issue.type.name }}</div>
        </div>
        <div class="flex items-center gap-3">
            <ng-container *ngIf="issue.isClose">
                <mat-icon class="text-green-500" svgIcon="heroicons_outline:check-circle"></mat-icon>
            </ng-container>
            <button mat-icon-button (click)="removeIssue()">
                <mat-icon class="text-red-500" [svgIcon]="'mat_outline:delete_outline'"></mat-icon>
            </button>
            <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </div>

    <!-- Card form -->
    <form class="flex flex-col flex-0 items-start w-full p-6 sm:p-8 space-y-6 overflow-y-auto" [formGroup]="cardForm">

        <div class="grid grid-cols-3 gap-4 w-full">
            <div class="col-span-2 max-h-200 p-3 pt-0 overflow-y-scroll">

                <!-- Title -->
                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full mb-3">
                    <mat-label>Title</mat-label>
                    <textarea matInput [formControlName]="'name'" [rows]="1" cdkTextareaAutosize
                        [cdkAutosizeMinRows]="1">
            </textarea>
                </mat-form-field>

                <!-- Description -->
                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full mb-3">
                    <mat-label>Description</mat-label>
                    <textarea matInput [formControlName]="'description'" [rows]="3" cdkTextareaAutosize
                        [placeholder]="'Add a description...'" [cdkAutosizeMinRows]="3">
            </textarea>
                </mat-form-field>

                <div class="flex flex-wrap gap-3 mb-3">

                    <input class="hidden" type="file" #file (change)="uploadFileAttachment($event)">
                    <button class="" mat-stroked-button (click)="file.click()">
                        <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:document-add'"></mat-icon>
                        Attach
                    </button>

                    <button class="" mat-stroked-button (click)="toggleChildIssueCreateMode()">
                        <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:adjustments'"></mat-icon>
                        Child Issue
                    </button>

                    <button class="" mat-stroked-button (click)="toggleWebLinkCreateMode()">
                        <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:link'"></mat-icon>
                        Web link
                    </button>

                </div>

                <ng-container *ngIf="issue.attachments && issue.attachments.length > 0">
                    <div class="attachments mb-3">
                        <div class="font-medium">Attachments</div>

                        <div class=" flex flex-wrap gap-3">

                            <ng-container *ngFor="let attachment of issue.attachments">
                                <a class="flex flex-col w-40 h-40 p-4 shadow rounded-2xl cursor-pointer bg-card">
                                    <div class="aspect-[9/6]">
                                        <div class="flex items-center justify-center h-full">
                                            <!-- Icons -->
                                            <div class="relative" (click)="downloadFileAttachment(attachment)">
                                                <mat-icon class="icon-size-14 text-hint opacity-50"
                                                    [svgIcon]="'heroicons_solid:document'"></mat-icon>
                                                <div class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white"
                                                    [class.bg-red-600]="true">
                                                    {{attachment.name.split('.')[1].toUpperCase()}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                        <div class="truncate" [matTooltip]="attachment.name"
                                            (click)="downloadFileAttachment(attachment)">{{
                                            attachment.name.split('.')[0] }}</div>
                                    </div>
                                </a>
                            </ng-container>

                        </div>
                    </div>
                </ng-container>

                <div class="child-issues mb-3">
                    <ng-container *ngIf="issue.childIssues && issue.childIssues.length > 0">
                        <div class="font-medium">Child issues</div>
                        <ng-container *ngFor="let child of issue.childIssues">
                            <div class="flex justify-between p-4 shadow rounded-sm cursor-pointer mb-3"
                                (click)="openChildDetailDialog(child)">
                                <div class="flex gap-4 w-full items-center">
                                    <mat-icon class="text-blue-500" svgIcon="heroicons_outline:adjustments"></mat-icon>
                                    <div class="max-w-60">{{ child.name }}</div>
                                </div>
                                <div class="flex w-full gap-4 items-center justify-end">
                                    <mat-icon [svgIcon]="child.priority.name == 'Medium' ? 'heroicons_outline:menu' : '' ||
                                    child.priority.name == 'Low' ? 'heroicons_outline:chevron-down' : '' ||
                                    child.priority.name == 'Lowest' ? 'heroicons_outline:chevron-double-down' : '' ||
                                    child.priority.name == 'High' ? 'heroicons_outline:chevron-up' : '' ||
                                    child.priority.name == 'Highest' ? 'heroicons_outline:chevron-double-up' : ''"
                                        [ngClass]="child.priority.name == 'Medium' ? 'text-yellow-500' : '' ||
                                    child.priority.name == 'Low' ? 'text-blue-700' : '' ||
                                    child.priority.name == 'Lowest' ? 'text-blue-500' : '' ||
                                    child.priority.name == 'High' ? 'text-red-500' : '' ||
                                    child.priority.name == 'Highest' ? 'text-red-700' : ''">
                                    </mat-icon>
                                    <div class="flex gap-2">
                                        <mat-icon svgIcon="heroicons_outline:user-circle"></mat-icon>
                                        <div *ngIf="!child.assignee">
                                            <span>Unassigned</span>
                                        </div>
                                        <div *ngIf="child.assignee">
                                            <span>{{ child.assignee.name }}</span>
                                        </div>
                                    </div>
                                    <div class="flex items-center bg-blue-500 rounded-lg shadow p-2">
                                        <span class="text-white text-sm">{{ child.status.name }}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="childIssueToggle">
                        <div class="font-medium">Child issues</div>
                        <div class="shadow rounded-sm item-center p-4 mt-3">
                            <form [formGroup]="childIssueForm">
                                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                    <mat-label>What needs to be done?</mat-label>
                                    <input matInput type="text" [formControlName]="'name'" />
                                </mat-form-field>
                            </form>
                            <div class="flex gap-3 justify-end mt-2">
                                <button mat-stroked-button color="warn" (click)="toggleChildIssueCreateMode()">
                                    Cancel
                                </button>
                                <button mat-stroked-button [color]="'primary'" (click)="createChildIssue()">
                                    Save
                                </button>
                            </div>
                        </div>
                    </ng-container>

                </div>

                <div class="web-links mb-3">

                    <ng-container *ngIf="issue.links && issue.links.length > 0">
                        <div class="font-medium">Web links</div>
                        <ng-container *ngFor="let link of issue.links">
                            <div
                                class="flex justify-between items-center w-full px-4 py-2 shadow rounded-sm cursor-pointer mb-3">
                                <a [href]="link.url" class="w-full" target="_blank">
                                    <div class="flex gap-4 items-center w-full">
                                        <mat-icon svgIcon="heroicons_outline:external-link"></mat-icon>
                                        <span class="truncate w-full">{{ link.description }}</span>
                                    </div>
                                </a>
                                <button mat-icon-button (click)="deleteWebLink(link.id)">
                                    <mat-icon class="text-red-500" [svgIcon]="'mat_outline:delete_outline'"></mat-icon>
                                </button>
                            </div>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="webLinkToggle">
                        <div class="shadow rounded-sm item-center p-4 mt-3">
                            <form [formGroup]="weblinkForm">
                                <div class="flex gap-3 ">
                                    <div class="flex w-full justify-items-center items-center">
                                        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                            <mat-label>Link address</mat-label>

                                            <input matInput type="text" [formControlName]="'url'" />
                                        </mat-form-field>
                                    </div>
                                    <div class="flex w-full justify-items-center items-center">
                                        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                            <mat-label>Description</mat-label>

                                            <input matInput type="text" [formControlName]="'description'" />
                                        </mat-form-field>
                                    </div>
                                </div>
                            </form>
                            <div class="flex gap-3 justify-end mt-2">
                                <button mat-stroked-button color="warn" (click)="toggleWebLinkCreateMode()">
                                    Cancel
                                </button>
                                <button mat-stroked-button [color]="'primary'" (click)="createWebLink()">
                                    Save
                                </button>
                            </div>
                        </div>
                    </ng-container>

                </div>

                <div class="activity">
                    <div class="font-medium mb-3">Activity</div>
                    <mat-tab-group animationDuration="0ms">

                        <mat-tab label="Comments">
                            <div class="mt-3">
                                <ng-container *ngFor="let comment of issue.comments">
                                    <div class="flex gap-3 items-center shadow rounded p-4 mb-3">
                                        <mat-icon class="" svgIcon="heroicons_outline:user-circle"></mat-icon>
                                        <div class="flex flex-col w-full">
                                            <div class="flex">
                                                <div class="flex gap-3">
                                                    <div class="font-semibold">{{ comment.user.name }}</div>
                                                    <div class="">{{ comment.createAt | date:'fullDate' }} at {{
                                                        comment.createAt | date: 'hh:mm' }}</div>
                                                </div>
                                            </div>
                                            <div class="flex italic">{{ comment.content }}</div>
                                        </div>
                                        <button *ngIf="comment.user.id === user.id" mat-icon-button
                                            (click)="deleteComment(comment.id)">
                                            <mat-icon class="text-red-500"
                                                [svgIcon]="'mat_outline:delete_outline'"></mat-icon>
                                        </button>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="issue.comments.length === 0">
                                    <div class="flex justify-center w-full mb-3">
                                        <div class="italic">No comment</div>
                                    </div>
                                </ng-container>
                                <div class="flex gap-3 justify-between items-center">
                                    <mat-icon class="icon-size-12" svgIcon="heroicons_outline:user-circle"></mat-icon>
                                    <div class="w-full">
                                        <form [formGroup]="commentForm">
                                            <!-- Comment -->
                                            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                                <textarea matInput [formControlName]="'content'" [rows]="1"
                                                    cdkTextareaAutosize [cdkAutosizeMinRows]="1"></textarea>
                                            </mat-form-field>
                                        </form>
                                    </div>
                                </div>
                                <div class="flex justify-end mt-3">
                                    <button mat-flat-button [color]="'primary'" (click)="postComment()">
                                        Comment
                                    </button>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Work log">
                            <!-- Work log content -->
                            <div class="mt-3">
                                <ng-container *ngIf="issue.logWorks.length === 0">
                                    <div class="flex justify-center w-full mb-3">
                                        <div class="italic">No work log</div>
                                    </div>
                                </ng-container>
                                <ng-container *ngFor="let logWork of issue.logWorks">
                                    <div class="flex gap-3 items-center shadow rounded p-4 mb-3">
                                        <mat-icon class="" svgIcon="heroicons_outline:user-circle"></mat-icon>
                                        <div class="flex flex-col w-full">
                                            <div class="flex">
                                                <div class="flex gap-3">
                                                    <div> <span class="font-semibold">{{ logWork.user.name }}</span>
                                                        logged
                                                        <span class="font-semibold">
                                                            {{ logWork.spentTime }}h
                                                        </span>
                                                        <span class="">{{ logWork.createAt | date:'fullDate' }} at {{
                                                            logWork.createAt | date: 'hh:mm' }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flex italic">{{ logWork.description }}</div>
                                        </div>
                                        <button *ngIf="logWork.user.id === user.id" mat-icon-button
                                            (click)="deleteLogWork(logWork.id)">
                                            <mat-icon class="text-red-500"
                                                [svgIcon]="'mat_outline:delete_outline'"></mat-icon>
                                        </button>
                                    </div>
                                </ng-container>
                            </div>

                        </mat-tab>

                    </mat-tab-group>
                </div>

            </div>
            <div class="col-span-1 max-h-200 p-3 pt-0 overflow-y-scroll">
                <mat-form-field class="w-full">
                    <mat-label>Status</mat-label>
                    <mat-select [(value)]="issue.statusId" (selectionChange)="statusChanged($event)">
                        <mat-option *ngFor="let status  of project.statuses" [value]="status.id">
                            {{ status.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full mb-3">
                    <mat-label>Estimate Time <span class="italic">(hour)</span></mat-label>
                    <input matInput type="number" [formControlName]="'estimateTime'" />
                </mat-form-field>

                <div class="font-medium mb-3">Time tracking</div>

                <div class="mb-3 cursor-pointer" (click)="openLogWorkDialog()">
                    <div [ngClass]="remainingTime == 0 && spentTime ? 'bg-yellow-500 dark:bg-yellow-300' : 'bg-gray-200 h-2.5 dark:bg-gray-700'"
                        class="w-full">
                        <div class="bg-green-600 h-2.5 dark:bg-green-500" [style.width]="calculateTime"></div>
                    </div>
                    <div class="flex justify-between">
                        <ng-container *ngIf="spentTime">
                            {{spentTime}}h logged
                        </ng-container>
                        <ng-container *ngIf="!spentTime">
                            <div>No time logger</div>
                        </ng-container>
                        <ng-container *ngIf="remainingTime != 0">
                            <div>{{remainingTime}}h remaining</div>
                        </ng-container>
                    </div>
                </div>

                <mat-form-field class="w-full">
                    <mat-label>Assignee</mat-label>
                    <mat-select (selectionChange)="assigneeChanged($event)"
                        [value]="issue.assignee ? issue.assignee.id : 'null'">
                        <mat-option [value]="'null'">
                            <mat-icon svgIcon="heroicons_outline:ban"></mat-icon>
                            Unassigned
                        </mat-option>
                        <mat-option *ngFor="let member  of project.members" [value]="member.id">
                            <mat-icon svgIcon="heroicons_outline:user-circle" [matTooltip]="member.email"></mat-icon>
                            {{ member.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Priority</mat-label>
                    <mat-select [(value)]="issue.priority.id" (selectionChange)="priorityChanged($event)">
                        <mat-option *ngFor="let priority  of project.priorities" [value]="priority.id">
                            <mat-icon [svgIcon]="priority.name == 'Medium' ? 'heroicons_outline:menu' : '' ||
                                priority.name == 'Low' ? 'heroicons_outline:chevron-down' : '' ||
                                priority.name == 'Lowest' ? 'heroicons_outline:chevron-double-down' : '' ||
                                priority.name == 'High' ? 'heroicons_outline:chevron-up' : '' ||
                                priority.name == 'Highest' ? 'heroicons_outline:chevron-double-up' : ''">
                            </mat-icon>
                            {{ priority.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Due date -->
                <div class="mb-3">
                    <div class="font-medium">Due date</div>
                    <div class="relative flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer"
                        [ngClass]="{'text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700': !issue.dueDate,
                                            'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': issue.dueDate && !isOverdue(issue.dueDate) || issue.isClose,
                                            'text-red-800 bg-red-200 dark:text-red-100 dark:bg-red-500': issue.dueDate && !issue.isClose && isOverdue(issue.dueDate)}" (click)="dueDatePicker.open()">
                        <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                        <span class="ml-2 text-md font-medium">
                            <ng-container *ngIf="issue.dueDate">{{issue.dueDate | date:'longDate'}}</ng-container>
                            <ng-container *ngIf="!issue.dueDate">Not set</ng-container>
                        </span>
                        <mat-form-field
                            class="fuse-mat-no-subscript fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none">
                            <input matInput [formControlName]="'dueDate'" [matDatepicker]="dueDatePicker">
                            <mat-datepicker #dueDatePicker>
                                <mat-datepicker-actions>
                                    <button mat-button (click)="cardForm.get('dueDate').setValue(null)"
                                        matDatepickerCancel>
                                        Clear
                                    </button>
                                    <button mat-flat-button [color]="'primary'" matDatepickerApply>
                                        Select
                                    </button>
                                </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <!-- Tags -->
                <div class="mb-3">
                    <span class="mb-px font-medium leading-tight">Labels</span>
                    <div
                        class="mt-1.5 rounded-md border border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden">
                        <!-- Header -->
                        <div class="flex items-center -my-px py-2 px-3">
                            <div class="flex items-center flex-auto min-w-0">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input class="min-w-0 ml-2 py-1 border-0" type="text" placeholder="Enter label name"
                                    (input)="filterTags($event)" (keydown)="filterTagsInputKeyDown($event)"
                                    [maxLength]="50" #newTagInput>
                            </div>
                            <button class="ml-3 w-8 h-8 min-h-8" mat-icon-button (click)="toggleTagsEditMode()">
                                <mat-icon *ngIf="!tagsEditMode" class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                <mat-icon *ngIf="tagsEditMode" class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:check'"></mat-icon>
                            </button>
                        </div>
                        <!-- Available tags -->
                        <div class="h-44 leading-none overflow-y-auto border-t border-gray-300 dark:border-gray-500">
                            <!-- Tags -->
                            <ng-container *ngIf="!tagsEditMode">
                                <ng-container *ngFor="let tag of filteredTags; trackBy: trackByFn">
                                    <mat-checkbox class="flex items-center h-10 min-h-10 px-4" [color]="'primary'"
                                        [checked]="isTagChecked(tag)" (change)="toggleProductTag(tag, $event)">
                                        {{tag.name}}
                                    </mat-checkbox>
                                </ng-container>
                            </ng-container>
                            <!-- Tags editing -->
                            <ng-container *ngIf="tagsEditMode">
                                <div class="p-4 space-y-2">
                                    <ng-container *ngFor="let tag of filteredTags; trackBy: trackByFn">
                                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-full">
                                            <input matInput [value]="tag.name" (input)="updateTagTitle(tag, $event)">
                                            <button mat-icon-button (click)="deleteTag(tag)" matSuffix>
                                                <mat-icon class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </ng-container>
                                </div>
                            </ng-container>
                            <div class="flex items-center h-10 min-h-10 -ml-0.5 pl-4 pr-3 leading-none cursor-pointer border-t hover:bg-gray-50 dark:hover:bg-hover"
                                *ngIf="shouldShowCreateTagButton(newTagInput.value)"
                                (click)="createTag(newTagInput.value); newTagInput.value = ''" matRipple>
                                <mat-icon class="mr-2 icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                <div class="break-all">Create "<b>{{newTagInput.value}}</b>"</div>
                            </div>
                        </div>
                    </div>
                </div>

                <mat-form-field class="w-full">
                    <mat-label>Reporter</mat-label>
                    <mat-select [value]="issue.reporter?.id" (selectionChange)="reporterChanged($event)">
                        <mat-option *ngFor="let member  of project.members" [value]="member.id">
                            <mat-icon svgIcon="heroicons_outline:user-circle" [matTooltip]="member.email"></mat-icon>
                            {{ member.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="time-lapse">
                    <div>
                        <span>Created </span><span>{{ issue.createAt | date:'dd/MM/YYYY' }}</span>
                    </div>
                    <div *ngIf="issue.updateAt">
                        <span>Updated </span><span>{{ issue.updateAt | dateAgo }}</span>
                    </div>
                    <div *ngIf="issue.resolveAt">
                        <span>Resolved </span><span>{{ issue.resolveAt | dateAgo }}</span>
                    </div>
                </div>

            </div>
        </div>

    </form>

</div>